<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Adv_ROHITH</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>com.servelts.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/rohit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>com.servelts.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/servletdemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumServlet</display-name>
    <servlet-name>SumServlet</servlet-name>
    <servlet-class>com.servelts.SumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumServlet</servlet-name>
    <url-pattern>/sumservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.servelts.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calc</display-name>
    <servlet-name>Calc</servlet-name>
    <servlet-class>com.servelts.Calc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calc</servlet-name>
    <url-pattern>/calc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servelts.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>com.servelts.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/employeecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.servelts.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/productcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpController</display-name>
    <servlet-name>EmpController</servlet-name>
    <servlet-class>com.servelts.EmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpController</servlet-name>
    <url-pattern>/empcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeList</display-name>
    <servlet-name>EmployeeList</servlet-name>
    <servlet-class>com.servelts.EmployeeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeList</servlet-name>
    <url-pattern>/employeelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.servelts.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/deleteemployeeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElanagugdeDemo</display-name>
    <servlet-name>ElanagugdeDemo</servlet-name>
    <servlet-class>com.servelts.ElanagugdeDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElanagugdeDemo</servlet-name>
    <url-pattern>/ElanagugdeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertExam</display-name>
    <servlet-name>InsertExam</servlet-name>
    <servlet-class>com.servelts.InsertExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertExam</servlet-name>
    <url-pattern>/insertexam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDemo</display-name>
    <servlet-name>SessionDemo</servlet-name>
    <servlet-class>com.servelts.SessionDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDemo</servlet-name>
    <url-pattern>/SessionDemo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CountFilter</display-name>
    <filter-name>CountFilter</filter-name>
    <filter-class>com.filters.CountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FIlterDemo</display-name>
    <servlet-name>FIlterDemo</servlet-name>
    <servlet-class>com.servelts.FIlterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FIlterDemo</servlet-name>
    <url-pattern>/fIlterdemo</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listners.ServerStart</listener-class>
  </listener>
  <listener>
    <listener-class>com.listners.RequestLisner</listener-class>
  </listener>
  <listener>
    <listener-class>com.listners.SessonCreation</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ScopeDemo</display-name>
    <servlet-name>ScopeDemo</servlet-name>
    <servlet-class>com.servelts.ScopeDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScopeDemo</servlet-name>
    <url-pattern>/ScopeDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScopesDemo</display-name>
    <servlet-name>ScopesDemo</servlet-name>
    <servlet-class>com.servelts.ScopesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScopesDemo</servlet-name>
    <url-pattern>/ScopesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUser</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>com.servelts.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/insertuser</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserValidationFilter</display-name>
    <filter-name>UserValidationFilter</filter-name>
    <filter-class>com.filters.UserValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserValidationFilter</filter-name>
    <url-pattern>/insertuser</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Js</display-name>
    <servlet-name>Js</servlet-name>
    <servlet-class>com.servelts.Js</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Js</servlet-name>
    <url-pattern>/js</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JstlDemo</display-name>
    <servlet-name>JstlDemo</servlet-name>
    <servlet-class>com.servelts.JstlDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JstlDemo</servlet-name>
    <url-pattern>/JstlDemo</url-pattern>
  </servlet-mapping>
</web-app>